body {
  background-color: rgb(215, 238, 238);
}

header {
  text-align: center;
  color: cornflowerblue;
  font-size: 30px;
}

h1 {
  text-align: center;
  color: rgb(100, 205, 237);
  font-size: 20px;
}

article p {
  text-align: justify;
}