div:hover {
  border: black;
  border-style: inset;
  border-width: 10x;
}

#corprimaria {
  background-color: red;
}

#corsecundaria {
  background-color: blue;
}

#corcomplementar {
  background-color: yellow;
}

#corescura {
  background-color: purple;
}

#corclara {
  background-color: rgb(215, 240, 200);
}

#tag1 {
  font-size: 15px;
  font-style: italic;
}

#tag2 {
  font-size: 25px;
}

#tag3 {
  font-size: 65px;
  font-style: italic;
}

#tag4 {
  font-size: 45px;
}

#tag5 {
  font-size: 55px;
  font-style: italic;
}