.listaNaoOrdenada {

}

.listaOrdenada{
  background-color: yellow;
}

.listaOrdenada .impar {
  text-transform: uppercase;
}

.listaOrdenada .par {
  color: green;
}

.titulo {
  color: red;
}

.titulo em {
  font-size: 40px;
  border: 1px solid black;
}