div:hover {
  border: black;
  border-style: inset;
  border-width: 10x;
}

#corprimaria {
  background-color: red;
}

#corsecundaria {
  background-color: blue;
}

#corcomplementar {
  background-color: yellow;
}

#corescura {
  background-color: purple;
}

#corclara {
  background-color: rgb(215, 240, 200);
}